.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  perspective: 1000px;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22em;
  height: 32em;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 2em;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.15);
}

.flip {
  transform: rotateY(180deg);
}

.content {
  display: block;
  transform: rotateY(-180deg);
}

.location {
  margin-top: 2em;
  margin-bottom: 1em;
}

.description {
  margin: 2em 0 3em 0;
}

.min_max_temperature {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 3em;
  margin: 3em 0;
}

.button {
  width: 10em;
  height: 3em;
  margin-top: 2.5em;
  border: none;
  border-radius: 3em;
  cursor: pointer;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
}
