* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#eaecc6, #2bc0e4);
}

.appContainer {
  display: flex;
  flex-direction: column;
}
